.home-banner {
  background-image: url("img-ville.png");
  background-size: cover;
  width: 100%;
  margin: auto;
  justify-content : space-around;
  height: 80vh;
  padding: 10%;
  .fit-picture {
    height: auto;
    width: auto;
    width: 100%;
  }
}

.home-banner img {
  filter: brightness(50%);
}

.home-articles {
  width: 100%;
  // padding: 150px;
  padding: 5%;
}

.home-articles-container {
  margin: auto;
}

.home-title {
  color: white;
}

.home-description {
  color: white;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 64px;
  font-weight: bold;
  line-height: 1.5;
  margin-top: 5%;
}

.home-card-text {
  padding-top: 5px;
}

.home-product-container {
  display:flex ;
}
.card-feature-home{
  width: 100%;
  border-radius: 0.5em;
  width: 100%;
  height: 25vw;
  object-fit: cover;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.card-product p{
  font-weight:lighter;
}
a {
  color: white;
}

.container-general {
  margin-left: 25%;
}

a:hover {
  text-decoration: none;
  color: white;
}

.card-article-home {
  border-radius: 0.5em;
  // width: 350px;
  text-align: center;
  margin: 1%;
  background: #fff;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: all 0.3s ease;
  margin-bottom: 10%;
}

.card-article-home:hover {
  border-radius: 0.5em;
  // width: 350px;
  text-align: center;
  background: #fff;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  transition: all 0.3s ease;
}

.card-title-home {
  font-weight: bold;
}

.card p {
  // padding: 10px;
  font-size: 0.7em;
  font-weight: 700;
}

.card-img-top-home {
  width: 100%;
  border-radius: 0.5em;
  border-radius: 1em;
  padding: 4%;
  width: 100%;
  height: 15vw;
  object-fit: cover;
}


.reference-cards-container{
  text-align: center;
}

.reference-cards {
  width:40%;
  height: 3vw;
  object-fit: cover;
}

.card-product-discover {
  font-weight: bold;
}

.home-article-container{
  border:black;
}

.card-number-users {
  font-size: 25px;
  font-weight: bold;
  font-stretch: extra-condensed;
}

.home-articles-quote {
  border: solid;
  border-color:#6088ff4f;
  border-radius: 0.5em;
  padding: 2%;
  text-align: center;
}

.quote-name{
  text-align: right;
  font-style: italic;
  font-size: 10px;
}

.home-kpis {
  background-image: url("mobile-hand.jpg");
  background-size: cover;
  width: 100%;
  margin: auto;
  justify-content : space-around;
  padding: 5%;
  .fit-picture {
    height: auto;
    width: auto;
    width: 100%;
  }
}

.home-kpis img {
  filter: brightness(90%);
}

.home-kpis-cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
}

.home-kpis-card{
  color: #081a51;
  text-align: center;
  font-size:24px;
}
.home-kpis-text {
  font-weight: bold;
}
