.index-kpis {
  padding-top: 100px;
  padding-left: auto;
  padding-right: auto;
  height: 400px;
}

.card-kpis-container {
   width: 100%;
}

.card-kpis {
  margin: auto;
}

.title-card-properties {
  display: flex;
  justify-content: space-between;

}

.dashboard {
  margin-left: 200px;
}

.container {
  margin-right: 80px;
}
