.index-kpis {
  padding-top: 100px;
  padding-left: auto;
  padding-right: auto;
  height: 400px;
  width: 900px;
}

.card-kpis-container {
  width: 900px;
}

.card-kpis {
  width: 900px;
  margin: auto;
}

.title-card-properties {
  display: flex;
  justify-content: space-between;
  margin-right: 80px;

}

.dashboard {
  width: 900px;
  margin: auto;
}

.balance-infos {
  width: 900px;
  margin: auto;
}

.calendar {
  width: 700px;
  margin: auto;
}
