.index-kpis {
  padding-top: 100px;
  padding-left: auto;
  padding-right: auto;
  height: 400px;
}

.card-kpis-container {
   width: 100%;
}

.card-kpis {
  margin: auto;
}

.title-card-properties {
  display: flex;
  justify-content: space-between;

}

.balance-infos {
  width: 900px;
  margin: auto;
}

.calendar {
  width: 700px;
  margin: auto;
}

.properties-calendar {
  display: flex;
  justify-content: space-between;
  margin: 10% 0 0 0;
}

.properties-container {
  width: 50%;
  border-radius: 1em;
  margin: 0 2%;
  background: #fff;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  padding: 2%;
}

.main-container {
  background-color: #E1F0FF;
  min-height: 100vh;
}

.header-index {
  background-color: white;
  height: 10%;
  width: 100%;
  padding: 3%;
  box-shadow: 0 4px 4px 0 rgba(0,0,0,0.25);
}

#titre-index-1 {
  margin-top: 25px;
}

.container {
  padding-bottom: 50px;
}
