.container-signup {
  margin-top: 200px;
  margin-bottom: 200px;
}

.card-signup {
  border-radius: 1em;
  // width: 900px;
  text-align: center;
  margin: 0 auto;
  background: #fff;
  margin-top: 200px;
  margin-bottom: 200px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
}

.form-control {
  border-radius: 1em;
}

.card-signup-illu {
  background-color: #167FFB;
}

.center-page {
  place-content: center;
}
.center-button-form {
  place-content: center;
  margin-bottom: 30px;
}

.btn-nice-proper {
  width: auto;
  padding-left: 50px;
  padding-right: 50px;
  border-width: 3px;
}

.btn-submit-right {
  margin-right: 20px;
}
