.card-kpis {
  // grid-template-columns: 300px 1fr 1fr 1fr;
  grid-template-rows: 50% 50%;
  justify-content: center;
}

.dashboard-card {
  // width: 200px;
  background: white;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.dashboard .stat {
  grid-row: 2 / span 1;
  grid-column: 2 / span 3;
  display: flex;
}


.card-kpis h3 {
  color: #37B686;
  font-size: 40px;
  margin-bottom: 15px;
  font-weight: bold;
}
.card-kpis p {
  color: rgba(0,0,0,0.5);
  font-size: 16px;
}

.action-property {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.action-property .action-property-info {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.action-property-info .action-property-btn {
  position: absolute;
  right: 16px;
  top: -20px;
  // width: 40px;
}


.action-property {
  border-radius: 1em;
  // width: 900px;
  text-align: center;
  background: #fff;
  height: 100px;
  display: flex;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: all 0.3s ease;
}

.secondary-container {
  width: 900px;
  margin: auto;
}

.earnings-content {
  font-size: 18px;
}

.smaller-cards {
  display: flex;
  justify-content: space-between;
}

.card-message {
  border-radius: 1em;
  width: 900px;
  text-align: center;
  margin: 0 auto;
  background: #fff;
  height: 300px;
  padding: 25px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: all 0.3s ease;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 100px;
}

#calendar-properties-index {
  margin-top: 100px;
}

.calendar-show {
  margin-top: 100px;
  margin-left: 20%
}
.flat-info {
  margin-top: 100px;
}
