<div class = container>
  <div class = dashboard>
    <div>
      <h1>Mon Dashboard</h1>

      <div class = card-kpis>
<div class="dashboard-card stat">
    <div class="dashboard-card-content">
      <p>Global ROI</p>
      <h3>300€</h3>
    </div>
  </div>
  <div class="dashboard-card stat">
    <div class="dashboard-card-content">
      <p>Expenses trends (%)</p>
      <h3>5%</h3>
    </div>
  </div>
  <div class="dashboard-card stat">
    <div class="dashboard-card-content">
      <p>Occupation rate (%)</p>
      <h3>20%</h3>
    </div>
  </div>
    </div>

    <div>
      <h2>Mes Propriétés</h2>

      <div class = card-properties>
      <ul>
      <% @properties.each do |property| %>
        <li><%= property.property_name %>
              <%= property.address %>
              <%= "ROI annuel :"  %></li>
        <% end %>
      </ul>
      </div>
    </div>
  </div>
</div>
