    <div id="mySidenav" class="sidenav <%= 'navbar-home' if params[:controller] == 'pages' %>">
      <%= link_to "/", class: "navbar-brand" do %>
      <div class="img-navbar"><%= image_tag "casper-seeklogo.com.png" %>
      <% end %></div>
      <br>
      <br>
      <div class="button-navbar">
      <a  href="/"><ion-icon name="home-outline"></ion-icon>  &nbsp Home</a>
      <a href="/properties"><ion-icon name="file-tray-stacked-outline"></ion-icon> &nbsp  My properties</a>
      <a href="/documents"><ion-icon name="receipt-outline"></ion-icon>  &nbsp My documents</a>
      <a class="button-navbar" href="/messagerie"><ion-icon name="mail-unread-outline"></ion-icon>  &nbsp My messages</a>
      <a href="/faq"><ion-icon name="help-circle-outline"></ion-icon>  &nbsp FAQ</a>
      </div>
    </div>
