    <div id="mySidenav" class="sidenav <%= 'navbar-home' if params[:controller] == 'pages' %>">
      <%= link_to "/", class: "navbar-brand" do %>
      <div class="img-navbar"><%= image_tag "casper-seeklogo.com.png" %>
      <% end %></div>
      <br>
      <br>
      <div class="button-navbar">
        <a  href="/" class="link-button-navbar"><ion-icon name="home-outline"></ion-icon>  &nbsp Home</a>
        <a href="/properties" class="link-button-navbar"><ion-icon name="file-tray-stacked-outline"></ion-icon> &nbsp  My properties</a>
        <a href="/documents" class="link-button-navbar"><ion-icon name="receipt-outline"></ion-icon>  &nbsp My documents</a>
        <a href="/messagerie" class="link-button-navbar"><ion-icon name="mail-unread-outline"></ion-icon>  &nbsp My messages</a>
        <a href="/faq" class="link-button-navbar"><ion-icon name="help-circle-outline"></ion-icon>  &nbsp FAQ</a>
      </div>
    </div>

<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
