<div class ="container-general">
    <div class="background-img-banner row justify-content-center">
      <div class="container-banner">
          <%=link_to "Optimisez le gestion de votre parc immobilier ðŸ¢", class:"centered-text-img" %>
          <p class="centered-p-img"> </p>
          <%=  %>
        </div>

      </div>
    </div>
</div>
Â© 2022 GitHub, Inc.
Terms
