<div class ="container-general">
    <div class="home-banner">
      <div class="home-banner-container">
        <%=link_to "Casper Rent 🏢", class:"centered-text-img" %>
        <p>Optimisez la gestion de votre parc immobilier</p>
        <button type="button" class="btn btn-primary">En savoir plus</button>
      </div>
    </div>

    <div class="home-articles">
      <div class="home-articles-container">
        <h2>Dernières news</h2>
        <br>
        <div class="cards-home">
          <div class="card-article" style="width: 18rem;">
            <div class="card-content">
              <img class="card-img-top" src="justin-eisner-ZOG7Zj7cfR8-unsplash.jpg" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
              </div>
            </div>
          </div class="flap">
          <div class="card-article" style="width: 18rem;">
            <div class="card-content">
              <img class="card-img-top" src="justin-eisner-ZOG7Zj7cfR8-unsplash.jpg" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
              </div>
            </div>
          </div>
        <div class="card-article" style="width: 18rem;">
            <div class="card-content">
              <img class="card-img-top" src="justin-eisner-ZOG7Zj7cfR8-unsplash.jpg" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
              </div>
            </div>
          </div>
      </div>
    </div>
</div>
