<div class ="container-general">
    <div class="home-banner">
      <div class="home-banner-container">
        <h1 class="home-title"><%=link_to "Casper Rent ðŸ¢", class:"centered-text-img" %></h1>
        <p class="home-description">Optimise the management of your properties</p>
        <button type="button" class="btn btn-primary">More</button>
      </div>
    </div>

    <div class="home-articles">
      <div class="home-articles-container">
        <h2>Last news</h2>
        <br>
        <div class="cards-home">
          <div class="card-article">
            <div class="card-content">
              <img class="card-img-top" src="<%= image_path('justin-eisner-ZOG7Zj7cfR8-unsplash.jpg') %>" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">News 1</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-primary">Read more</a>
              </div>
            </div>
          </div class="flap">
          <div class="card-article">
            <div class="card-content">
              <img class="card-img-top" src="<%= image_path('justin-eisner-ZOG7Zj7cfR8-unsplash.jpg') %>" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">News 2</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-primary">Read more</a>
              </div>
            </div>
          </div>
        <div class="card-article">
            <div class="card-content">
              <img class="card-img-top" src="<%= image_path('justin-eisner-ZOG7Zj7cfR8-unsplash.jpg') %>" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">News 3</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-primary">Read more</a>
              </div>
            </div>
          </div>
      </div>
    </div>
</div>
