// 3 types de boutons

// primaire


.btn-primary {
  color: white;
  padding: 8px 24px;
  border-radius: 50px;
  background: #167FFB;
  transition: background 0.3s ease;
  text-decoration: none;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: all 0.5s ease;
}

.btn-primary:hover {
  color: white;
  padding: 8px 24px;
  border-radius: 50px;
  background: #167FFB;
  text-decoration: none;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  width: 133px;
}


// secondaire

// tertiaire
