// 3 types de boutons

// primaire


.btn-primary {
  color: white;
  padding: 8px 24px;
  border-radius: 0.5em;
  background: #081A51;
  border-color: #081A51;
  transition: background 0.3s ease;
  text-decoration: none;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: all 0.5s ease;
}

.btn-primary:hover {
  color: white;
  padding: 8px 24px;
  border-radius: 0.5em;
  background: #081A51;
  border-color: #081A51;
  text-decoration: none;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  // width: 133px;
}


// secondaire

// tertiaire

.nav-link {
  color: white;
  padding: 8px 24px;
  border-radius: 0.5em;
  background: #081A51;
  border-color: #081A51;
  transition: background 0.3s ease;
  text-decoration: none;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: all 0.5s ease;
}

.nav-link a{
  color:white;
}
.nav-link:hover a{
  color: white;
  font-weight: bold;
  // width: 133px;
}

.nav-link:hover{
  background: #1f3985;
  border-color: #1f3985;
}
.action-to-do a{
  color:white;
}

.backspace {
  padding: 1%;
  margin-bottom: 1%;
  margin-top: 1%;
}

.backspace:hover {
  padding: 1%;
  margin-bottom: 1%;
  margin-top: 1%;
  color: grey;
}

.button-ionicon {
  background: none;
	color: inherit;
	border: none;
	font: inherit;
	outline: inherit;
}


.ionicon-icon {
  padding: 5%;
  margin-right: 10%;
  font-size: 64px;
}

.ionicon-icon-flat {
  padding: 2%;
  font-size: 64px;
  margin-bottom: 1.5%;
}

.ionicon-icon-analytics {
  size: 64px;
}

.ionicon-icon-important {
  padding: 2% 4% 4% 4%;
  size: 64px;
}

.fc-scrollgrid-liquid{
  margin-top: 20px;
}

.btn-danger{
  width: 140px;
  font-size: 15px;
}

.btn-danger:hover a{
  color: white;
}
