.card-kpis-action {
  justify-content: space-between;
  width: 50em;
  margin-right: 1em;
  background-color: white;
  border-radius:2%;
  padding:20px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.action-property .action-property-info {
  display: flex;
  align-items: flex-end;
  position: relative;
}

.kpis-actions {
  justify-content: space-between;
  align-self: center;
}

.action-property-info .action-property-btn {
  right: 16px;
  top: -20px;
}


.action-property {
  border-radius: 1em;
  text-align: center;
  background: #fff;
  height: 7em;
  display: flex;
  align-items: center;
  box-shadow: 0 4px 4px 0 rgba(0,0,0,0.2);
  transition: all 0.3s ease;
  overflow: hidden;
  background: white;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  margin-top: 1em;

}

.dashboard-card {
  // width: 200px;
  background: white;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.dashboard-card-stat {
  display: flex;
  justify-content: space-around;
}

.dashboard .stat {
  grid-row: 2 / span 1;
  grid-column: 2 / span 3;
  display: flex;
}


.card-kpis h3 {
  color: #37B686;
  font-size: 40px;
  margin-bottom: 15px;
  font-weight: bold;
}
.card-kpis p {
  color: rgba(0,0,0,0.5);
  font-size: 16px;
}
