.card-actions-stat{
  margin-top: 5%;
  margin-bottom: 5%;
}

.card-kpis {
  // grid-template-columns: 300px 1fr 1fr 1fr;
  grid-template-rows: 50% 50%;
  justify-content: center;
}

.dashboard-card {
  // width: 200px;
  background: white;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.dashboard-card-stat {
  display: flex;
  justify-content: space-around;
}

.dashboard .stat {
  grid-row: 2 / span 1;
  grid-column: 2 / span 3;
  display: flex;
}


.card-kpis h3 {
  color: #37B686;
  font-size: 40px;
  margin-bottom: 15px;
  font-weight: bold;
}
.card-kpis p {
  color: rgba(0,0,0,0.5);
  font-size: 16px;
}
