.cards-home {
  display: grid;
  justify-content: space-between;
  grid-template-columns: 1fr 1fr 1fr;

}

.card-article {
  border-radius: 0.5em;
  // width: 350px;
  text-align: center;
  margin-top: 0;
  margin: 0 2% ;
  background: #fff;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: all 0.3s ease;
}

.card-graph {
  border-radius: 0.5em;
  // width: 350px;
  text-align: center;
  background: #fff;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: all 0.3s ease;
  padding: 2%;
  margin-left: 2%;
  margin-top: 2%;
}

.card-article:hover {
  border-radius: 0.5em;
  // width: 350px;
  text-align: center;
  background: #fff;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  transition: all 0.3s ease;
}

.card-title {
  font-weight: bold;
}

.card p {
  // padding: 10px;
  font-size: 0.7em;
  font-weight: 700;
}

.property-name {
  font-size: 0.8em;
  text-align: left;
  padding-bottom: 5%;
}

.card-img-top {
  border-radius: 0.5em;
  height: 82px;
  width: auto;
  background-image: cover;
}

.card-kpis {
  justify-content: space-between;
  margin-right: auto;
  display: flex;
}

.card-kpi {
  border-radius: 0.5em;
  margin: 1%;
  background: #fff;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  padding: 1%;
  width: 32%;
  height: 11em;
}

.properties-container {
  margin-top: 100px;
  margin-bottom: 50px;
}

.card-property {
  border-radius: 0.5em;
  // width: 900px;
  text-align: center;
  background: #FAFAFA;
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  transition: all 0.3s ease;
  height: 95px;
  padding-top: 0.75%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: all 0.3s ease;
}

.card-property:hover {
  border-radius: 0.5em;
  // width: 925px;
  text-align: center;
  background: #FAFAFA;
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 20px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.element-card-2 {
  display: inline-block;
  display: flex;
  flex-direction: column;
  width: 60%;
  text-overflow: ellipsis;
  font-weight: 700;
  font-size: 16px;
  justify-content: space-between;
  padding-bottom: 1em;
}

.element-card-3 {
  flex-direction: column;
  align-self: center;
}

.property-status-1 {
  color: rgb(255, 255, 255);
  background-color: #6ED451;
  border-radius: 0.5em;
  width: 10vh;
  font-size: 12px;
}

.property-status-2 {
  color: rgb(255, 255, 255);
  background-color: #E63E33;
  border-radius: 0.5em;
  width: 10vh;
  font-size: 12px;
}

.property-ROI {
  margin-top: 5%;
  margin-bottom: 5%;
  margin-right: 2.5%;
  color: rgb(63, 63, 63);
  font-weight: bold;
}

.title-card-element {
  margin-left: 200px;
}

.login-container {
  // width: 900px;
  align-items: center;
  margin: auto;
}
.card-infos {
  display: flex;
  justify-content: space-between;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.card-invoice {
  width: 55px;
  height: 50px;
}

.card-plombier {
  width: 100px;
  height: 100px;
}

.card-plombier-show {
  width: 100px;
  height: 100px;
}

.ul {
  padding-left: 0px;
}

.card-property-content {
  padding: 1%;
  display: flex;
  justify-content: space-between;
  width: 99%;
}

// bandeau qui encadre graph
.header-graph {
  display: flex;
  justify-content: space-between;
}

// alignement du header et de l'icone à gauche
.title-kpis {
  display: flex;
  align-items: left;
}

// display flex de la timeline + backround
.card-timeline {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #F5F7FB;
  align-items: center;
  border-radius: 0.5rem;
  height: 48px;
  padding-right: 0.5%;
  width: 328px;
}


.card-timeline-item {
  margin-top: 6%;
  padding: 5%;
  color: #A9ABB0;
}

.selected-timeline {
  border-radius: 0.5em;
  text-align: center;
  background: #fff;
  margin: 10px 0;
  height: 40px;
  width: 107px;
  .card-timeline-item {
  margin-top: 6%;
  padding: 4%;
  color: #017EFA;
  }
}
