.cards-home {
  display: flex;
  justify-content: space-between;
}

.card-article {
  border-radius: 1em;
  // width: 350px;
  text-align: center;
  margin: 2%;
  background: #fff;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: all 0.3s ease;
}

.card-article:hover {
  border-radius: 1em;
  // width: 350px;
  text-align: center;
  background: #fff;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  transition: all 0.3s ease;
}

.card-title {
  font-weight: bold;
}

.card p {
  // padding: 10px;
  font-size: 0.7em;
  font-weight: 700;
}

.card-img-top {
  border-radius: 1em;
  height: 90px;
  padding: 1%;
}

.cards-kpi {
  display: flex;
  justify-content: space-between;
  // width: auto;
}

.card-kpis {
  justify-content: space-between;
  margin-top: 100px;
  padding-top: 50px;
  margin-right: auto;
}

.properties-container {
  margin-top: 100px;
  margin-bottom: 50px;
}

.card-property {
  border-radius: 1em;
  // width: 900px;
  text-align: center;
  background: #fff;
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: auto;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: all 0.3s ease;
  padding: 1%;
}

.card-property:hover {
  border-radius: 1em;
  // width: 925px;
  text-align: center;
  background: #fff;
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  padding: 1%;
}

.property-status {
  color: green;
  background-color: lightgreen;
  border-radius: 1em;
  align-items: center;
}

.title-card-element {
  margin-left: 200px;
}

.login-container {
  // width: 900px;
  align-items: center;
  margin: auto;
}

.card-infos {
  display: flex;
  justify-content: space-between;
}
