.cards-home {
  display: flex;
  justify-content: space-between;
}

.card-article {
  border-radius: 1em;
  width: 350px;
  text-align: center;
  margin: 0 auto;
  background: #fff;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: all 0.3s ease;
}

.card-article:hover {
  border-radius: 1em;
  width: 350px;
  text-align: center;
  margin: 0 auto;
  background: #fff;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  transition: all 0.3s ease;
}

.card-title {
  font-weight: bold;
}

.card p {
  padding: 10px;
  font-size: 0.7em;
  font-weight: 700;
}

.card-img-top {
  border-radius: 1em 1em 0px 0px;
}

.cards-kpi {
  display: flex;
  justify-content: space-between;
  width: auto;
}

.card-kpi {
  border-radius: 1em;
  width: 350px;
  text-align: center;
  margin: 0 auto;
  background: #fff;
  height: 300px;
  padding: 25px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: all 0.3s ease;
  margin-left: 20px;
  margin-right: 20px;
}

.card-kpis {
  display: flex;
  justify-content: space-between;
  margin-top: 100px;
  padding-top: 50px;
  margin-right: 50px;
}

.card-kpi:hover {
  border-radius: 1em;
  width: 360px;
  text-align: center;
  margin: 0 auto;
  background: #fff;
  height: 300px;
  padding: 25px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container-general {
  align-items: center;
}

.properties-container {
  margin-top: 100px;
  margin-bottom: 50px;
}

.card-property {
  border-radius: 1em;
  width: 900px;
  text-align: center;
  background: #fff;
  height: 100px;
  display: flex;
  justify-content: space-between;
  padding: 50px;
  padding-bottom: 65px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: 80px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: all 0.3s ease;
}

.card-property:hover {
  border-radius: 1em;
  width: 925px;
  text-align: center;
  background: #fff;
  height: 100px;
  display: flex;
  justify-content: space-between;
  padding: 50px;
  padding-bottom: 65px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.title-card-element {
  margin-left: 200px;
}

.login-container {
  width: 900px;
  align-items: center;
  margin: auto;
}
