button {
  background-color: rgba(255,255,255,.5);
  padding: 5px;
  outline: none;
  border: 1px solid rgba(0,0,0,.3);
  border-radius: 5px;
}

.author {
  color:#aaa;
  size: 20px;
}

.wrapper {
  box-sizing: border-box;
  margin: auto;
  padding: 0;
  background-color: rgba(255,255,255,.1);
  display: flex;
  flex-direction: column;
  border-left: 1px solid rgba(255,255,255,.2);
  border-right: 1px solid rgba(255,255,255,.2);
}

form {
  flex: 5;
  display: block;
  padding: 15px;
}
.text-box {
  font-size: 16px;
  display: flex;
  width: 100%;
}

// input.send-button {
//   display: block;
//   background-color: rgba(255,255,255,.6);
//   flex: 1;
//   border: 1px solid rgba(0,0,0,.2);
//   height: 27px;
//   box-sizing: border-box;
//   font-size: 16px;
//   line-height: 25px;
//   padding: 0;
//   border-radius: 13px;
// }

// div#dialogue {
//   overflow-x: none;
//   overflow-y: auto;
//   display: block;
//   flex: 95;
//   box-sizing: border-box;
//   width: 100%;
//   padding: 15px;
// }
.class-container-proprio{
  align-items: end;
}

.class-container-locataire{
  align-items: start;
}

.class-proprio {
  margin: 0 10px 0 0;
  box-sizing: border-box;
  border: 1px solid #aaa;
  border-radius: 13px;
  width: fit-content;
  // margin-left: 50%;
  padding:3%;
  color: white;
  background-color: rgba(32, 46, 32, 0.493);
  border-bottom-right-radius: 0;
  align-items: right;
  max-width: 70%;
}


.class-locataire {
  margin: 0 10px 0 0;
  box-sizing: border-box;
  border: 1px solid #132a70;
  border-radius: 13px;
  justify-content: left;
  padding:3%;
  color: black;
  background-color: #132a70;
  border-bottom-left-radius: 0;
}


.modal-body{
  max-height: calc(100vh - 200px);
  overflow-y: auto;
}

.message-date{
  font-size: 60%;
}

// .class-container-proprio{
//  margin-left: 10%;
//  justify-content: right;
// }

// .class-container-locataire{
//  margin-right: 10%;
//  justify-content: right;
// }

.class-author-proprio{
  text-align: right;

}

.class-author-locataire{
  text-align: left;
}

.btn-send-message{
  color: white;
  padding: 8px 24px;
  border-radius: 0.5em;
  background: #081A51;
  transition: background 0.3s ease;
  text-decoration: none;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: all 0.5s ease;
}

.btn-send-message:hover {
  color: white;
  padding: 8px 24px;
  border-radius: 0.5em;
  background: #081A51;
  text-decoration: none;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

// .btn-file-message {

// }
