.container-flat-info{
  margin-top: 5%;
  margin-bottom: 5%;
}

.flat-info{
  background-color: white;
  border-radius:2%;
  padding:20px;
}

.nav-pills .nav-link.active {
  background-color: rgba(255, 255, 255, 0.966);
  color: rgba(56, 143, 243, 0.87);
  border-radius: 3%;

}

.nav-tabs {
  background-color: rgba(194, 188, 188, 0.664);
}
