body {
  font-family: 'ApercuFont', sans-serif;
  font-size: 14px;
}

#calendar {
  margin-left: 10%;
}

.fc-toolbar-title {
  font-size: 30px;
  line-height: 40px;
  font-weight: bolder;
  font-family: 'ApercuFont', sans-serif;
}

.fc-today-button {
  background-color: #081A51;
}

.fc-next-button{
  background-color: gray;
}

.fc-prev-button{
  background-color: gray;
}

.calendar-yolo-style {
  background-color: white;
  border-radius:2%;
  padding:20px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  padding-bottom : 3em;
}
