// Specific CSS for your home-page

.centered-text-img > a {
  text-decoration: none;
  color: white;
  font-size: 90px ;
  font-weight: bold;
}

.centered-text-img {
  color: white;
  font-size: 90px ;
  font-weight: bold;
  text-decoration: none !important;
}

.centered-text-img:hover {
  color: white;
  opacity: 0.5;
}

.centered-p-img {
  color: white;
  font-size: 20px ;
  font-weight: bold;
  opacity: 7;
}
.banner {
  background-size: cover;
  background-position: center;
  padding: 150px 0;
}

.container-banner {
  width: 900px;
  margin: auto;
  justify-content : space-around;
}

.background-img-banner {
  background-image: asset-url("Jurassic-rent-home-banner-copie.jpg");
  height: 900px;
}
