.reference {
  width: 20%;
  height: auto;
}

.reference-cards {
  display: flex;
  justify-content: space-between;
}

.small-img-to {
  width: 15%;
  height: auto;
  margin-right: 1em;
}

.small-img-to-info {
  width: 6%;
  height: auto;
  margin-right: 1em;
}

.img-on-card{

  height: 100%;
  margin-right: 1.5em;
}
