.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

/* The side navigation menu */
.sidenav {
  height: 100vh; /* 100% Full-height *//* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: black; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
  max-width: $navbar-width;
  img {
    width: 100%;
  }
  // padding-top: 0px; /* Place content 60px from the top */
  // width: 250px;
}


/* The navigation menu links */
.sidenav a {
  // padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 18px;
  color: white;
  display: block;
  transition: 0.3s;
  font-family: 'Roboto', sans-serif;
  margin-top: 15px;
  transition: 0.5s ease-in-out;
}

/* When you mouse over the navigation links, change their color */
.sidenav .button-navbar a:hover {
  color: #f1f1f1;
  background-color: rgb(180, 180, 180);
  border-radius: 1rem;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 30px;
  margin-left: 50px;
  margin-bottom: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left .5s;
  padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.navbar-light .navbar-brand {
    color: white;
    font-size: 25px;
    font-weight: bold;
}
