
@font-face {
  font-family: 'ApercuFont';
  src: url('apercu_regular_pro.otf');
}

.centered-text-img {
  text-decoration: none;
  font-size: 36px;
}


h1 {
    font-size: 36px;
    line-height: 40px;
    font-family: 'ApercuFont';
    a {
      text-decoration: none;
      color: black;
    }
}

h1 a:hover {
  text-decoration: none;
  color: grey;
  transition-duration: 0.3s;
}

h2 {
    font-size: 30px;
    line-height: 40px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
}

h3 {
    font-size: 24px;
    line-height: 40px;
    font-family: 'Roboto', sans-serif;
}

h4 {
    font-size: 18px;
    line-height: 20px;
    font-family: 'Roboto', sans-serif;
}

h5 {
    font-size: 17px;
    color: #A9ABB0;
    line-height: 10px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    opacity: 0.7;
}

h6{
  font-size: 14;
  color:black;
  font-weight: bold;
}

.path {
  color: black;
  font-size: 14px;
}

.description {
  font-style: italic;
}
