/*
  *= require fullcalendar
*/

// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "simple_calendar";

// Your CSS partials
@import "components/index";
@import "components/footer";
@import "pages/index";
@import "components/card";
@import "components/title";
@import "components/button";

@import 'fullcalendar';
@import "pages/indexv2";
@import "pages/new";
@import "components/image";

.main-container {
  max-width: calc(100vw - 150px);
  background-color: #F7F7F7;
  margin-left: 17%;
}
